<!-- your html code here -->

<div class="row mt-5">
    <div class="col-1">
    </div>
    <div class="col-10">
        <h1>Contact</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
         Duis dictum sed tellus sed auctor. Fusce eu vestibulum dolor, sed interdum erat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. </p>
 
   <form class="col-8  mt-4 p-2 container center bg-light">
        <div class="row">
            <div class="col-4 d-md-flex justify-content-md-end">
              <label for="email" class="col-form-label fw-bold">Your E-mail</label>
            </div>
            <div class="col-8">
              <input type="email" id="email" class="form-control" placeholder="Your email here">
            </div>
         </div>
         <div class="row mt-4">
            <div class="col-4 d-md-flex justify-content-md-end">
                <label for="message" class="col-form-label fw-bold">Your Message</label>
              </div>
              <div class="col-8">
                <textarea  type="text" id="message" class="form-control" placeholder="Please enter your message here..." rows="4"></textarea>
              </div>
            </div>

            <div class="mb-3 mt-4 d-grid gap-2 d-md-flex justify-content-md-end">
                <button class="btn btn-primary me-md-2" type="submit">Submit</button>
            </div>
        </form>
      </div>
    <div class="col-1">
    </div>
</div>
