<!-- your html code here -->
<div class="row">
    <div class="col-1">
    </div>
    <div class="div col-10">
        <h1>Portfolio</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
         Duis dictum sed tellus sed auctor. Fusce eu vestibulum dolor, sed interdum erat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. </p>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
              <div class="card">
                <img src="https://media.istockphoto.com/id/1333063467/photo/minimal-abstract-background-for-product-presentation-leaf-shadow-on-yellow-plaster-wall.jpg?s=1024x1024&w=is&k=20&c=G_g38dWOjJ6ze1LmCEn8U5zz4iXzqus_-WZeAxvK2WQ=" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Project Name</h5>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dictum sed tellus sed auctor.</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="https://media.istockphoto.com/id/1333063467/photo/minimal-abstract-background-for-product-presentation-leaf-shadow-on-yellow-plaster-wall.jpg?s=1024x1024&w=is&k=20&c=G_g38dWOjJ6ze1LmCEn8U5zz4iXzqus_-WZeAxvK2WQ=" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Project Name</h5>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dictum sed tellus sed auctor. </p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="https://media.istockphoto.com/id/1333063467/photo/minimal-abstract-background-for-product-presentation-leaf-shadow-on-yellow-plaster-wall.jpg?s=1024x1024&w=is&k=20&c=G_g38dWOjJ6ze1LmCEn8U5zz4iXzqus_-WZeAxvK2WQ=" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Project Name</h5>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dictum sed tellus sed auctor. </p>
                </div>
              </div>
            </div>
          </div>
    </div>
    <div class="col-1">
    </div>
</div>