<div class="row flex-d">
    <div class="col-md-1">
    </div>
    <div class="col-md-3">
    <img src="https://media.istockphoto.com/id/1422478091/photo/close-up-of-a-hands-on-a-laptop-keyboard.jpg?s=1024x1024&w=is&k=20&c=Mif7J8kDshUDaOdf_JYZJHPha4v8mZqF8b7-XUZJq3I="
        class="rounded-circle"
        alt="Circular Image" 
        width="250"
        height="250"
        >
    </div>
    <div class="col-md-7">
      <h1 class="fw-bold lh-1">The Second Heading<span class="text-secondary"> Is pretty Cool too.</span></h1>
      <p class="lead">And yes, this is the last block of representative placeholder content. Again, not really intended to be actually read, simply here to give you a better view of what this would look like with some actual content. Your content.</p>
    </div>
    <div class="col-md-1">
    </div>
  </div>